<!DOCTYPE html>
<html>
  <head>
    <title>Add Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>yo you made it to newSkills</h1>

    <a href="/">Home</a> | 
    <a href="/students">Students</a>


      </form>
  </body>
</html>
